<% require 'date' %>

<h1> Nos recherches </h1>


<% @travelers_ar.each do |key, value| %>

  <h1>Proposition pour <%= Traveler.find(id = key).name %></h1>
  <% count = 0 %>
  <% while count < value[0].count %>
  <h2>ALLER</h2>
    <ul><h3>Départ</h3>
      <li> Ville de départ : <%= value[0][count]["cityFrom"] %></li>
      <li> Date de départ : <%= Time.at(value[0][count]["dTime"]).strftime("%d/%m/%Y") %> </li>
      <li> Heure de départ : <%= Time.at(value[0][count]["dTime"]).strftime("%H:%M")%></li>
    </ul>
  <ul><h3>Arrivée</h3>
      <li> Ville d'arrivée : <%= value[0][count]["cityTo"] %></li>
      <li> Date d'arrivée : <%= Time.at(value[0][count]["aTime"]).strftime("%d/%m/%Y") %></li>
      <li> Heure d'arrivée : <%= Time.at(value[0][count]["aTime"]).strftime("%H:%M")%></li>
    </ul>

  <h2>RETOUR</h2>
    <ul><h3>Départ</h3>
      <li> Ville de départ : <%= value[1][count].first["cityFrom"] %></li>
      <li> Date de départ : <%= Time.at(value[1][count].first["dTime"]).strftime("%d/%m/%Y") %></li>
      <li> Heure de départ : <%= Time.at(value[1][count].first["dTime"]).strftime("%H:%M")%></li>
      </ul>

  <ul><h3>Arrivée</h3>
      <li> Ville d'arrivée : <%= value[1][count].first["cityTo"] %></li>
      <li> Date d'arrivée : <%= Time.at(value[1][count].first["aTime"]).strftime("%d/%m/%Y") %> </li>
      <li> Heure d'arrivée : <%= Time.at(value[1][count].first["aTime"]).strftime("%H:%M")%></li>
  </ul>
  <ul>
    <h3>Détails</h3>
      <li> Prix aller : <%= value[0][count]["price"] %></li>
      <li> Prix retour : <%= value[1][count].first["price"] %></li>
      <li> Prix sa mèèèère : <%= value[0][count]["price"] + value[1][count].first["price"] %></li>
      <li> Code de la compagnie aérienne aller : <%= value[0][count]["airlines"] %></li>
      <li> Code de la compagnie aérienne retour : <%= value[1][count].first["airlines"] %></li>
      <li> Coordonnées de l'aéroport de <%= value[0][count]["cityFrom"]  %>  : <%= value[0][count]["route"].first["latFrom"] %> / <%= value[0][count]["route"].first["lngFrom"] %></li>
      <li> Coordonnées de l'aéroport de <%= value[0][count]["cityTo"]  %> : <%= value[0][count]["route"].first["latTo"] %> / <%= value[0][count]["route"].first["lngTo"] %></li>
      <li> Coordonnées de l'aéroport de <%= value[1][count].first["cityFrom"]  %>  : <%= value[1][count].first["route"].first["latFrom"] %> / <%= value[1][count].first["route"].first["lngFrom"] %></li>
      <li> Coordonnées de l'aéroport de <%= value[1][count].first["cityTo"]  %> : <%= value[1][count].first["route"].first["latTo"] %> / <%= value[1][count].first["route"].first["lngTo"] %></li>
  </ul>
  <% count += 1 %>








    <!-- on ajoute un bouton pour aller sur la page tickets -->
    <div class="group-btn float-right">

      <%= link_to "Selectionner cette destination", :controller => "groups", :action => "tickets", :query => "#{value[0][count]["cityTo"]}" %>
    </div>

  <% end %>
<% end %>












