<% require 'date' %>

<h1>Nos recherches </h1>

<h1>Proposition du traveler n°1</h1>
 <% @search_a[0].each do |result| %>
  <h2>ALLER</h2>
  <ul><h3>Départ</h3>
    <li> Ville de départ : <%= result["cityFrom"] %></li>
    <li> Date de départ : <%= Time.at(result["dTime"]).strftime("%d/%m/%Y") %> </li>
    <li> Heure de départ : <%= Time.at(result["dTime"]).strftime("%H:%M")%></li>
</ul>
<ul><h3>Arrivée</h3>
    <li> Ville d'arrivée : <%= result["cityTo"] %></li>
    <li> Date d'arrivée : <%= Time.at(result["aTime"]).strftime("%d/%m/%Y") %></li>
    <li> Heure d'arrivée : <%= Time.at(result["aTime"]).strftime("%H:%M")%></li>
    </ul>
<% end %>

<% @search_r.each do |result| %>
  <h2>RETOUR</h2>
  <ul><h3>Départ</h3>
     <!-- on prend la deuxième route dans le json, valable que pour les vols directs-->
    <li> Ville de départ : <%= result.first["cityFrom"] %></li>
    <li> Date de départ : <%= Time.at(result.first["dTime"]).strftime("%d/%m/%Y") %></li>
    <li> Heure de départ : <%= Time.at(result.first["dTime"]).strftime("%H:%M")%></li>
    </ul>
</ul>
<ul><h3>Arrivée</h3>
    <li> Ville d'arrivée : <%= result.first["cityTo"] %></li>
    <li> Date d'arrivée : <%= Time.at(result.first["aTime"]).strftime("%d/%m/%Y") %> </li>
    <li> Heure d'arrivée : <%= Time.at(result.first["aTime"]).strftime("%H:%M")%></li>

<ul><h3>Détails</h3>
    <li> Prix sa mèèèère : <%= result.first["price"] %></li>
    <li> Code de la compagnie aérienne : <%= result.first["airlines"] %></li>
    <li> Coordonnées de l'aéroport de <%= result.first["cityFrom"]  %>  : <%= result.first["route"].first["latFrom"] %> / <%= result.first["route"].first["lngFrom"] %></li>
    <li> Coordonnées de l'aéroport de <%= result.first["cityTo"]  %> : <%= result.first["route"].first["latTo"] %> / <%= result.first["route"].first["lngTo"] %></li>
    </ul>
<% end %>
