<% require 'date' %>

<h1>Ma recherche </h1>
<% i = 1 %>
 <% @search.each do |result| %>
   <h2>VOL n°<%= i%> à destination de <%= result["cityTo"] %>, <%= result["countryTo"]["name"] %></h2>
  <h2>ALLER</h2>
  <ul><h3>Départ</h3>
    <li> Ville de départ : <%= result["cityFrom"] %></li>
    <li> Date de départ : <%= Time.at(result["dTime"]).strftime("%d/%m/%Y") %> </li>
    <li> Heure de départ : <%= Time.at(result["dTime"]).strftime("%H:%M")%></li>
</ul>
<ul><h3>Arrivée</h3>
    <li> Ville d'arrivée : <%= result["cityTo"] %></li>
    <li> Date d'arrivée : <%= Time.at(result["aTime"]).strftime("%d/%m/%Y") %></li>
    <li> Heure d'arrivée : <%= Time.at(result["aTime"]).strftime("%H:%M")%></li>
    </ul>

  <h2>RETOUR</h2>
  <ul><h3>Départ</h3>
     <!-- on prend la deuxième route dans le json, valable que pour les vols directs-->
    <li> Ville de départ : <%= result["route"][1]["cityFrom"] %></li>
    <li> Date de départ : <%= Time.at(result["route"][1]["dTime"]).strftime("%d/%m/%Y") %></li>
    <li> Heure de départ : <%= Time.at(result["route"][1]["dTime"]).strftime("%H:%M")%></li>
    </ul>
</ul>
<ul><h3>Arrivée</h3>
    <li> Ville d'arrivée : <%= result["route"][1]["cityTo"] %></li>
    <li> Date d'arrivée : <%= Time.at(result["route"][1]["aTime"]).strftime("%d/%m/%Y") %> </li>
    <li> Heure d'arrivée : <%= Time.at(result["route"][1]["aTime"]).strftime("%H:%M")%></li>

<ul><h3>Détails</h3>
    <li> Prix sa mèèèère : <%= result["price"] %></li>
    <li> Code de la compagnie aérienne : <%= result["airlines"] %></li>
    <li> Coordonnées de l'aéroport de <%= result["cityFrom"]  %>  : <%= result["route"].first["latFrom"] %> / <%= result["route"].first["lngFrom"] %></li>
    <li> Coordonnées de l'aéroport de <%= result["cityTo"]  %> : <%= result["route"].first["latTo"] %> / <%= result["route"].first["lngTo"] %></li>
    </ul>

  <% i += 1 %>
<% end %>
