<div class="beforeload">

<div class ='group-titre p-4' >
  <h1> Mon Groupe </h1>
  <% if @group.fly_to != "" %>
    <h2>Vers <%= @group.fly_to %></h2>
  <% end %>
</div>

<%# Autofill des budgets et dates %>
  <div class = "group-form justify-content-center d-flex">
    <%= simple_form_for [@group, @traveler]  do |f| %>
      <%= f.error_notification %>
      <%= f.input :name,
                      label: false,
                      required: true,
                      placeholder: "Inscrivez le nom du voyageur"%>
      <%= f.input :fly_from,
                      label: false,
                      required: true,
                      placeholder: "De quelle ville part-il?",
                      as: :string,
                      input_html: { class: "autocomplete", autocomplete: 'off' }%>
      <div class="container-autocomplete">
      <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
      </div>
      <div class="range-wrap">
      <% if @group.travelers.count > 0 %>

          <%= f.input :price_to,
                      as: :range,
                      label: false,
                      placeholder: "A t'il un budget maximum?",
                      input_html: { value: @group.travelers.first.price_to,  min: "150", max: "1500", value: "150",step: "50", id: "range"}%>
      <% else %>
          <%= f.input :price_to,
                      label: false,
                      as: :range,
                      input_html: { min: "150", max: "1500", value: "150",step: "50", id: "range"},
                      placeholder: "A t'il un budget maximum?" %>
      <% end %>
            <div class="range-value" id="rangeV"></div>
      </div>
      <% if @group.travelers.count > 0 %>
          <%= f.input :date_from,
                      label: false,
                      placeholder: "Inscrivez sa date d'aller",
                      as: :string,
                      input_html: { class: "datepicker", value: @group.travelers.first.date_from } %>
          <%= f.input :date_to,
                      label: false,
                      placeholder: "Inscrivez sa date de retour",
                      as: :string,
                      input_html: { class: "datepicker", value: @group.travelers.first.date_to} %>
      <% else %>
          <%= f.input :date_from,
                      label: false,
                      placeholder: "Inscrivez sa date d'aller",
                      as: :string,
                      input_html: { class: "datepicker" } %>
          <%= f.input :date_to,
                      label: false,
                      placeholder: "Inscrivez sa date de retour",
                      as: :string,
                      input_html: { class: "datepicker" } %>
      <% end %>
      <%= f.submit "           Ajouter un participant           ", class: "btn btn-ghost m-3" %>

    <% end %>
</div>


  <div class="group-list justify-content-center d-flex">
    <% count = 1 %>
    <% @group.travelers.each do |traveler| %>
      <li class="list-group-item m-4">
        <h3>Voyageur n° <%= count %></h3>
        <p>Nom : <%= traveler.name %></p>
        <p>Départ : <%= traveler.fly_from %></p>
        <p>Budget maximum : <%= traveler.price_to %>€</p>
        <p>Souhaite voyager du <%= traveler.date_from.strftime("%d/%m")%> à partir de <%=traveler.date_from.strftime("%H:%M") %> au <%= traveler.date_to.strftime("%d/%m/%Y")%> à partir de <%=traveler.date_from.strftime("%H:%M") %></p>
      </li>
      <% count += 1 %>
    <% end %>
  </div>

  <div class="group-btn float-right">
     <% if @group.travelers.size > 0 %>
      <%= link_to "Lancer la recherche", :group_search, class: "btn btn-ghost m-3 test"  %>
    <%# SCRIPT POUR LANCER LE LOADER %>
      <script type="text/javascript">
          const test = document.querySelector(".test");
          test.addEventListener("click", function () {
          const beforeload = document.querySelector(".beforeload");
          beforeload.className += " hidden"
          const loader = document.querySelector(".loader");
          loader.className += "visible globe-text"
          })
      </script>
    <%# FIN DU SCRIPT %>
    <% end %>
  </div>

</div>

<%# ================== LOADER https://gist.github.com/straker/ff00b4b49669ad3dec890306d348adc4 ==================== %>
  <div class="loader">
    <div class="globe-text">
      <div class="text">
      <h3>
        Notre algorithme cherche vos destinations communes
      </h3>
      <p>
        <em>Utilisez les flêches de votre clavier pour jouer au snake en attendant !</em>
      </p>
      </div>
     <%= render "shared/snake" %>
    </div>
  </div>
