<h1>Mon groupe</h1>

<h2><%= @group.fly_to %></h2>

<div class="list-group">
 <% @group.travelers.each do |traveler| %>
          <li class="list-group-item">
            <p>Nom: <%= traveler.name %></p>
            <p>Depart: <%= traveler.fly_from %></p>
            <p>Budget max: <%= traveler.price_to %></p>
            <!-- ajouter les dates de vols -->
          </li>
        <% end %>
</div>
<%= simple_form_for [@group, @traveler]  do |f| %>
  <%= f.input :name %>
  <%= f.input :fly_from %>
  <div id="container">
  <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
  </div>
  <%= f.input :price_to %>
    <%= f.input :date_from %>
    <%= f.input :date_to %>
  <%= f.submit "Ajouter un participant", class: "btn btn-primary" %>
<% end %>

<%= link_to "Recherche", :group_search %>
<%= link_to "Retour", :root %>
