<div class="beforeload">
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&w=3000&q=400&fit=crop)">
  <div class= "titre_searchbar">
      <h1>Nouvelle recherche</h1>
      <p>Remplissez les champs ci-dessous pour chacun des voyageurs</p>
  </div>
  <div>
     <% if true %>
      <%= link_to "Lancer la recherche", :group_search, class: "bt btn-home"  %>
  </div> 
  <div  class = "d-flex justify-content-center mb-3">
    <% if @group.fly_to != "" %>
    <p  class="btn-show"><%= @group.fly_to %></p>
  <% end %>
  </div>
  <div class="searchbar d-flex justify-content-center">
   <div class="mr-2">
       <%= simple_form_for [@group, @traveler]  do |f| %>
      <%= f.error_notification %>
      <%= f.input :name,
                      label: false,
                      required: true,
                      placeholder: "Inscrivez le nom du voyageur"%>
    </div>
    <div class="mr-2">
      <%= f.input :fly_from,
                      label: false,
                      required: true,
                      placeholder: "De quelle ville part-il?",
                      as: :string,
                      input_html: { class: "autocomplete", autocomplete: 'off' }%>
      <div class="container-autocomplete">
      <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
      </div>
    </div>
      <div class="range-wrap mr-2">
      <% if @group.travelers.count > 0 %>

          <%= f.input :price_to,
                      as: :range,
                      label: false,
                      placeholder: "A t'il un budget maximum?",
                      input_html: { value: @group.travelers.first.price_to,  min: "150", max: "1500", value: "150",step: "50", id: "range"}%>
      <% else %>
          <%= f.input :price_to,
                      label: false,
                      as: :range,
                      input_html: { min: "150", max: "1500", value: "150",step: "50", id: "range"},
                      placeholder: "A t'il un budget maximum?" %>
      <% end %>
            <div class="range-value" id="rangeV"></div>
      </div>
      <% if @group.travelers.count > 0 %>
      <div class="mr-2">
          <%= f.input :date_from,
                      label: false,
                      placeholder: "Inscrivez sa date d'aller",
                      as: :string,
                      input_html: { class: "datepicker", value: @group.travelers.first.date_from } %>
       </div> 
       <div class="mr-2">  
          <%= f.input :date_to,
                      label: false,
                      placeholder: "Inscrivez sa date de retour",
                      as: :string,
                      input_html: { class: "datepicker", value: @group.travelers.first.date_to} %>
      </div> 
      <% else %>
      <div class="mr-2">
          <%= f.input :date_from,
                      label: false,
                      placeholder: "Inscrivez sa date d'aller",
                      as: :string,
                      input_html: { class: "datepicker" } %>
      </div> 
      <div class="mr-2">
          <%= f.input :date_to,
                      label: false,
                      placeholder: "Inscrivez sa date de retour",
                      as: :string,
                      input_html: { class: "datepicker" } %>
      </div>
      <% end %>
        </div>
      <%= f.submit "Ajouter un participant", class: "btn btn-home" %>

    <% end %>

    <div class="autoto">
      <div class="container-autocomplete">
        <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
      </div>
    </div>

    <!--  infos sur les voyageurs -->

    <% count = 1 %>
    <div class= "titre_searchbar">
      <p>Voyageur(s)</p>
  </div>
    <% @group.travelers.each do |traveler| %>
    <div>
      <div class="m-4">
        <div class= "d-flex justify-content-center">
          <div class= "titre_voyageur">
            <p>Voyageur n° <%= count %></p>
          </div>
          <div>
            <p class="btn-show"><%= traveler.name %></p>
          </div>
          <div>
            <p class="btn-show"><%= traveler.fly_from %></p>
          </div>
          <div>
            <p class="btn-show"><%= traveler.price_to %>€</p></p>
          </div>
          <div>
            <p class="btn-show"><%= traveler.date_from.strftime("%d/%m")%> à partir de <%=traveler.date_from.strftime("%H:%M") %></p>
          </div>
          <div>
            <p class="btn-show"> <%= traveler.date_to.strftime("%d/%m/%Y")%> à partir de <%=traveler.date_from.strftime("%H:%M") %></p>
          </div>
                <% count += 1 %>
        </div>
      </div>
      <% end %>
</div>


     
    <div class="mongol-show1"><%= image_tag ("mongol1.png") %></div>
    <div class="mongol-show2"><%= image_tag ("mongol2.png"), style: 'height:50%;width:auto;' %></div>
    <div class="mongol-show3"><%= image_tag ("mongol3.png"), style: 'height:50%;width:auto;' %></div>
    <%# <a class="btn btn-flat" href="/groups/new">Je voyage</a> %>
  </div>
<!--   <div class="form-traveler"></div> -->
</div>


<%# Autofill des budgets et dates %>



  

    <%# SCRIPT POUR LANCER LE LOADER %>
      <script type="text/javascript">
          const test = document.querySelector(".test");
          if (test) {
              test.addEventListener("click", function () {
            const beforeload = document.querySelector(".beforeload");
            beforeload.className += " hidden"
            const loader = document.querySelector(".loader");
            loader.className += "visible globe-text"
            })
          }
      </script>
    <%# FIN DU SCRIPT %>
    <% end %>
  </div>

</div>

<%# ================== LOADER https://gist.github.com/straker/ff00b4b49669ad3dec890306d348adc4 ==================== %>
  <div class="loader">
    <div class="globe-text">
      <div class="text">
      <h3>
        Notre algorithme recherche des destinations communes en fonction de vos critères...
      </h3>
      <p>
        <em>Utilisez les flêches de votre clavier pour jouer au snake en attendant !</em>
      </p>
      </div>
     <%= render "shared/snake" %>
    </div>
  </div>
