<div class="beforeload">
  <div class="banner-show" style="background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&w=3000&q=400&fit=crop)">

    <div class= "titre_searchbar">
        <h1>Organiser un voyage à plusieurs</h1>
        <p>Remplis les champs ci-dessous pour chacun des voyageurs</p>
    </div>

    <div class = "d-flex justify-content-center mb-4 align-items-center">
        <% if @group.fly_to != "" %>
          <p  class="fake-btn-show"><%= @group.fly_to %></p>
        <% end %>
      <div>
          <%= link_to "Lancer la recherche", :group_search, class: "btn btn-show-recherche"  %>
      </div>
    </div>

      <div class="searchbar d-flex justify-content-center">
        <div class="mr-2">
          <%= simple_form_for [@group, @traveler]  do |f| %>
            <%= f.error_notification %>
            <%= f.input :name,
                          label: false,
                          required: true,
                          placeholder: "Nom du voyageur",
                          input_html: { class: "form-control-show" }%>
        </div>

        <div class="mr-2" id="ville_depart">
          <%= f.input :fly_from,
                          label: false,
                          required: true,
                          placeholder: "Ville de départ",
                          as: :string,
                          input_html: { class: "autocomplete", autocomplete: 'off' }%>
          <div class="container-autocomplete-show">
          <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
          </div>
        </div>

        <div class="range-wrap mr-2">
          <% if @group.travelers.count > 0 %>

              <%= f.input :price_to,
                          as: :range,
                          label: false,
                          placeholder: "A t'il un budget maximum?",
                          input_html: { class: "form-control-show", value: @group.travelers.first.price_to,  min: "150", max: "1500", value: "150",step: "50", id: "range"}%>
          <% else %>
              <%= f.input :price_to,
                          label: false,
                          as: :range,
                          input_html: {class: "form-control-show", min: "150", max: "1500", value: "150",step: "50", id: "range"},
                          placeholder: "A t'il un budget maximum?" %>
          <% end %>
          <div class="range-value" id="rangeV"></div>
        </div>


          <% if @group.travelers.count > 0 %>
            <div class="mr-2">
              <%= f.input :date_from,
                          label: false,
                          placeholder: "Date d'aller",
                          as: :string,
                            input_html: { class: "datepicker form-control-show", value: @group.travelers.first.date_from } %>
            </div>
            <div class="mr-2">
              <%= f.input :date_to,
                          label: false,
                          placeholder: "Date de retour",
                          as: :string,
                          input_html: { class: "datepicker form-control-show", value: @group.travelers.first.date_to} %>
            </div>
          <% else %>
            <div class="mr-2">
              <%= f.input :date_to,
                          label: false,
                          placeholder: "Date d'aller",
                          as: :string,
                          input_html: { class: "datepicker form-control-show" } %>
            </div>
            <div class="mr-2">
              <%= f.input :date_from,
                          label: false,
                          placeholder: "Date de retour",
                          as: :string,
                          input_html: { class: "datepicker form-control-show" } %>
            </div>
          <% end %>

        </div>
          <%= f.submit "Ajouter un voyageur", class: "btn btn-show-travelers" %>
      <% end %>

    <!--  infos sur les voyageurs -->
        <% if @group.travelers.count > 0 %>
          <div class= "titre_searchbar_voyageur">
            <h1>Les voyageurs</h1>
            <p>Informations des voyageurs</p>
          </div>
        <% end %>

    <% count = 1 %>

    <% @group.travelers.each do |traveler| %>
        <div class="m-4">
          <div class= "d-flex justify-content-center">
            <div>
              <p class="recap-infos-travelers"><%= traveler.name %></p>
            </div>
            <div>
              <p class="recap-infos-travelers-fly_from "><%= traveler.fly_from %></p>
            </div>
            <div>
              <p class="recap-infos-travelers">Budget max: <%= traveler.price_to %>€</p>
            </div>
            <div>
              <p class="recap-infos-travelers"><%= traveler.date_from.strftime("%d/%m/%Y") %></p>
            </div>
            <div>
              <p class="recap-infos-travelers"> <%= traveler.date_to.strftime("%d/%m/%Y") %></p>
            </div>
                  <% count += 1 %>
          </div>
        </div>
    <% end %>

  <!--      MONTGOLFIERES, elles font beuguer l'affichage
      <div class="mongol-show1"><%= image_tag ("mongol1.png") %></div>
        <div class="mongol-show2"><%= image_tag ("mongol2.png"), style: 'height:50%;width:auto;' %></div>
        <div class="mongol-show3"><%= image_tag ("mongol3.png"), style: 'height:50%;width:auto;' %></div>-->

    </div> <!-- FIN DE LA BANNER  -->
<!-- CARD CONCEPT  -->

<div class= "card-concept mt-5 p-5">
  <h2> Le concept</h2>
      <p><em>Grouptrotter, le facilitateur des voyages à plusieurs !</em></p>
    <div class="d-flex">

      <div class="card-concept">
        <h4></h4>
        <p> Grouptrotter permet de trouver une <strong>destination commune </strong> pour des voyageurs partant de <strong>différentes villes</strong> . Fini les heures de recherches sur les sites de comparateurs de vols, tu n’as plus qu’à entrer le nom et la ville de tous les voyageurs, les dates du voyage & <strong> notre algorithme travaille pour vous</strong> . Détends-toi en jouant à snake en attendant sa réponse & hop tu n’as plus qu’à partager les résultats à tes compagnons de voyage ! </p>
      </div>
    </div>
</div>

<!-- CARDS EXPLICATIVES DU CONCEPT POUR LE CSS VOIR CARD-HOME-PAGE -->

<div class= "card-titre mt-5 px-5">
  <h2> Comment ça fonctionne?</h2>
  <p><em>Quatre étapes et vous faites vos valises!</em></p>
</div>
<div class="card-white-home">
  <div class="super-box">
    <div class="container-card-home">
      <div class="box1">
        <div class="icon_bg"></div>
      </div>

      <div class="icon">

        <h1>1</h1>
      <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#F18230" offset="0%"></stop>
              <stop stop-color="#F18230" offset="100%"></stop>
          </linearGradient>
      </defs>
      <g id="working" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="漏洞监控" transform="translate(-227.000000, -3528.000000)">
              <rect fill="#FFFFFF" x="0" y="0" width="1440" height="4857"></rect>
              <g id="Group-19" transform="translate(180.000000, 3501.000000)">
                  <g id="1" transform="translate(25.000000, 0.000000)">
                      <g id="Group-26" transform="translate(5.000000, 0.000000)">
                          <g id="Group-16" transform="translate(17.000000, 27.000000)">
                              <g id="noun_578648_cc-(1)" transform="translate(3.135583, 0.000000)" fill="url(#linearGradient-1)">
                                  <path d="M16.2931971,0 C19.0389025,0 21.5733998,0.883675937 23.6251358,2.37678356 C26.6423945,1.18839178 28.7544756,0.822732769 30.0217243,1.09697703 C31.4398359,1.40169287 32.0734602,2.2853688 31.9527698,3.59564692 C31.8924247,4.44885127 31.4096633,5.51535671 30.5346582,6.6732769 C28.1811964,9.78137848 22.5992678,14.1997582 14.69405,18.1610641 C19.7026994,17.4906892 24.409623,15.8147521 28.7846482,12.9504232 C28.6036127,19.7455865 23.0820292,25.2 16.2931971,25.2 C12.9440399,25.2 9.8966086,23.8592503 7.66383715,21.6652963 C5.00864947,22.6708585 3.13794907,22.9451028 1.99139076,22.7013301 C0.573279157,22.3966143 -0.0603451744,21.5129383 0.0301725872,20.2026602 C0.0905177616,19.3189843 0.603451744,18.2829504 1.47845677,17.0945586 C3.83191857,14.0169287 9.38367462,9.56807739 17.3190651,5.60677146 C12.6121414,6.24667473 8.17677113,7.77025393 4.04312668,10.329867 C5.09916724,4.44885127 10.1983345,0 16.2931971,0 Z M5.97417227,19.6541717 C5.46123828,18.8923821 5.03882206,18.0696493 4.67675102,17.1859734 C4.19398962,17.7039903 3.7715734,18.1915357 3.43967494,18.6181378 C2.92674096,19.3189843 2.5948425,19.8674728 2.53449732,20.2636034 C3.16812166,20.3854897 4.31467997,20.2026602 5.97417227,19.6541717 Z M25.6768717,4.26602177 C26.2803235,4.99733978 26.82343,5.75912938 27.2760188,6.61233374 C27.7889528,6.09431681 28.211369,5.60677146 28.5734401,5.1496977 C29.0863741,4.44885127 29.4182725,3.90036276 29.4786177,3.53470375 C28.7846482,3.38234583 27.5475721,3.59564692 25.6768717,4.26602177 Z" id="Shape"></path>
                              </g>
                              <ellipse id="Oval-16" fill="#F18230" opacity="0.400000006" transform="translate(39.194782, 10.395000) scale(-1, -1) translate(-39.194782, -10.395000) " cx="39.1947824" cy="10.395" rx="2.82202433" ry="2.835"></ellipse>
                              <ellipse id="Oval-16-Copy-2" fill="#F18230" opacity="0.400000006" transform="translate(35.745642, 18.270000) scale(-1, -1) translate(-35.745642, -18.270000) " cx="35.7456415" cy="18.27" rx="1.88134955" ry="1.89"></ellipse>
                              <ellipse id="Oval-16-Copy" fill="#F18230" opacity="0.400000006" transform="translate(2.508466, 3.150000) scale(-1, -1) translate(-2.508466, -3.150000) " cx="2.50846607" cy="3.15" rx="2.50846607" ry="2.52"></ellipse>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
      </div>

    </div>
    <div class="text">
      <p class="title">
      Sélectionne ta destination
      </p>
    </div>
  </div>

<div class="super-box">
    <div class="container-card-home">
      <div class="box2">
        <div class="icon_bg"></div>
      </div>

      <div class="icon">

        <h1>2</h1>
      <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#F18230" offset="0%"></stop>
              <stop stop-color="#F18230" offset="100%"></stop>
          </linearGradient>
      </defs>
      <g id="working" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="漏洞监控" transform="translate(-227.000000, -3528.000000)">
              <rect fill="#FFFFFF" x="0" y="0" width="1440" height="4857"></rect>
              <g id="Group-19" transform="translate(180.000000, 3501.000000)">
                  <g id="1" transform="translate(25.000000, 0.000000)">
                      <g id="Group-26" transform="translate(5.000000, 0.000000)">
                          <g id="Group-16" transform="translate(17.000000, 27.000000)">
                              <g id="noun_578648_cc-(1)" transform="translate(3.135583, 0.000000)" fill="url(#linearGradient-1)">
                                  <path d="M16.2931971,0 C19.0389025,0 21.5733998,0.883675937 23.6251358,2.37678356 C26.6423945,1.18839178 28.7544756,0.822732769 30.0217243,1.09697703 C31.4398359,1.40169287 32.0734602,2.2853688 31.9527698,3.59564692 C31.8924247,4.44885127 31.4096633,5.51535671 30.5346582,6.6732769 C28.1811964,9.78137848 22.5992678,14.1997582 14.69405,18.1610641 C19.7026994,17.4906892 24.409623,15.8147521 28.7846482,12.9504232 C28.6036127,19.7455865 23.0820292,25.2 16.2931971,25.2 C12.9440399,25.2 9.8966086,23.8592503 7.66383715,21.6652963 C5.00864947,22.6708585 3.13794907,22.9451028 1.99139076,22.7013301 C0.573279157,22.3966143 -0.0603451744,21.5129383 0.0301725872,20.2026602 C0.0905177616,19.3189843 0.603451744,18.2829504 1.47845677,17.0945586 C3.83191857,14.0169287 9.38367462,9.56807739 17.3190651,5.60677146 C12.6121414,6.24667473 8.17677113,7.77025393 4.04312668,10.329867 C5.09916724,4.44885127 10.1983345,0 16.2931971,0 Z M5.97417227,19.6541717 C5.46123828,18.8923821 5.03882206,18.0696493 4.67675102,17.1859734 C4.19398962,17.7039903 3.7715734,18.1915357 3.43967494,18.6181378 C2.92674096,19.3189843 2.5948425,19.8674728 2.53449732,20.2636034 C3.16812166,20.3854897 4.31467997,20.2026602 5.97417227,19.6541717 Z M25.6768717,4.26602177 C26.2803235,4.99733978 26.82343,5.75912938 27.2760188,6.61233374 C27.7889528,6.09431681 28.211369,5.60677146 28.5734401,5.1496977 C29.0863741,4.44885127 29.4182725,3.90036276 29.4786177,3.53470375 C28.7846482,3.38234583 27.5475721,3.59564692 25.6768717,4.26602177 Z" id="Shape"></path>
                              </g>
                              <ellipse id="Oval-16" fill="#F18230" opacity="0.400000006" transform="translate(39.194782, 10.395000) scale(-1, -1) translate(-39.194782, -10.395000) " cx="39.1947824" cy="10.395" rx="2.82202433" ry="2.835"></ellipse>
                              <ellipse id="Oval-16-Copy-2" fill="#F18230" opacity="0.400000006" transform="translate(35.745642, 18.270000) scale(-1, -1) translate(-35.745642, -18.270000) " cx="35.7456415" cy="18.27" rx="1.88134955" ry="1.89"></ellipse>
                              <ellipse id="Oval-16-Copy" fill="#F18230" opacity="0.400000006" transform="translate(2.508466, 3.150000) scale(-1, -1) translate(-2.508466, -3.150000) " cx="2.50846607" cy="3.15" rx="2.50846607" ry="2.52"></ellipse>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
      </div>

    </div>
    <div class="text">
      <p class="title">
      Sélectionne les dates de voyage
      </p>
    </div>
  </div>

<div class="super-box">
    <div class="container-card-home">
      <div class="box3">
        <div class="icon_bg"></div>
      </div>

      <div class="icon">

        <h1>3</h1>
      <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#F18230" offset="0%"></stop>
              <stop stop-color="#F18230" offset="100%"></stop>
          </linearGradient>
      </defs>
      <g id="working" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="漏洞监控" transform="translate(-227.000000, -3528.000000)">
              <rect fill="#FFFFFF" x="0" y="0" width="1440" height="4857"></rect>
              <g id="Group-19" transform="translate(180.000000, 3501.000000)">
                  <g id="1" transform="translate(25.000000, 0.000000)">
                      <g id="Group-26" transform="translate(5.000000, 0.000000)">
                          <g id="Group-16" transform="translate(17.000000, 27.000000)">
                              <g id="noun_578648_cc-(1)" transform="translate(3.135583, 0.000000)" fill="url(#linearGradient-1)">
                                  <path d="M16.2931971,0 C19.0389025,0 21.5733998,0.883675937 23.6251358,2.37678356 C26.6423945,1.18839178 28.7544756,0.822732769 30.0217243,1.09697703 C31.4398359,1.40169287 32.0734602,2.2853688 31.9527698,3.59564692 C31.8924247,4.44885127 31.4096633,5.51535671 30.5346582,6.6732769 C28.1811964,9.78137848 22.5992678,14.1997582 14.69405,18.1610641 C19.7026994,17.4906892 24.409623,15.8147521 28.7846482,12.9504232 C28.6036127,19.7455865 23.0820292,25.2 16.2931971,25.2 C12.9440399,25.2 9.8966086,23.8592503 7.66383715,21.6652963 C5.00864947,22.6708585 3.13794907,22.9451028 1.99139076,22.7013301 C0.573279157,22.3966143 -0.0603451744,21.5129383 0.0301725872,20.2026602 C0.0905177616,19.3189843 0.603451744,18.2829504 1.47845677,17.0945586 C3.83191857,14.0169287 9.38367462,9.56807739 17.3190651,5.60677146 C12.6121414,6.24667473 8.17677113,7.77025393 4.04312668,10.329867 C5.09916724,4.44885127 10.1983345,0 16.2931971,0 Z M5.97417227,19.6541717 C5.46123828,18.8923821 5.03882206,18.0696493 4.67675102,17.1859734 C4.19398962,17.7039903 3.7715734,18.1915357 3.43967494,18.6181378 C2.92674096,19.3189843 2.5948425,19.8674728 2.53449732,20.2636034 C3.16812166,20.3854897 4.31467997,20.2026602 5.97417227,19.6541717 Z M25.6768717,4.26602177 C26.2803235,4.99733978 26.82343,5.75912938 27.2760188,6.61233374 C27.7889528,6.09431681 28.211369,5.60677146 28.5734401,5.1496977 C29.0863741,4.44885127 29.4182725,3.90036276 29.4786177,3.53470375 C28.7846482,3.38234583 27.5475721,3.59564692 25.6768717,4.26602177 Z" id="Shape"></path>
                              </g>
                              <ellipse id="Oval-16" fill="#F18230" opacity="0.400000006" transform="translate(39.194782, 10.395000) scale(-1, -1) translate(-39.194782, -10.395000) " cx="39.1947824" cy="10.395" rx="2.82202433" ry="2.835"></ellipse>
                              <ellipse id="Oval-16-Copy-2" fill="#F18230" opacity="0.400000006" transform="translate(35.745642, 18.270000) scale(-1, -1) translate(-35.745642, -18.270000) " cx="35.7456415" cy="18.27" rx="1.88134955" ry="1.89"></ellipse>
                              <ellipse id="Oval-16-Copy" fill="#F18230" opacity="0.400000006" transform="translate(2.508466, 3.150000) scale(-1, -1) translate(-2.508466, -3.150000) " cx="2.50846607" cy="3.15" rx="2.50846607" ry="2.52"></ellipse>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
      </div>

    </div>
    <div class="text">
      <p class="title">
      Inscris les informations des voyageurs
      </p>
    </div>
  </div>

  <div class="super-box">
    <div class="container-card-home">
      <div class="box4">
        <div class="icon_bg"></div>
      </div>

      <div class="icon">

        <h1>4</h1>
      <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#F18230" offset="0%"></stop>
              <stop stop-color="#F18230" offset="100%"></stop>
          </linearGradient>
      </defs>
      <g id="working" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="漏洞监控" transform="translate(-227.000000, -3528.000000)">
              <rect fill="#FFFFFF" x="0" y="0" width="1440" height="4857"></rect>
              <g id="Group-19" transform="translate(180.000000, 3501.000000)">
                  <g id="1" transform="translate(25.000000, 0.000000)">
                      <g id="Group-26" transform="translate(5.000000, 0.000000)">
                          <g id="Group-16" transform="translate(17.000000, 27.000000)">
                              <g id="noun_578648_cc-(1)" transform="translate(3.135583, 0.000000)" fill="url(#linearGradient-1)">
                                  <path d="M16.2931971,0 C19.0389025,0 21.5733998,0.883675937 23.6251358,2.37678356 C26.6423945,1.18839178 28.7544756,0.822732769 30.0217243,1.09697703 C31.4398359,1.40169287 32.0734602,2.2853688 31.9527698,3.59564692 C31.8924247,4.44885127 31.4096633,5.51535671 30.5346582,6.6732769 C28.1811964,9.78137848 22.5992678,14.1997582 14.69405,18.1610641 C19.7026994,17.4906892 24.409623,15.8147521 28.7846482,12.9504232 C28.6036127,19.7455865 23.0820292,25.2 16.2931971,25.2 C12.9440399,25.2 9.8966086,23.8592503 7.66383715,21.6652963 C5.00864947,22.6708585 3.13794907,22.9451028 1.99139076,22.7013301 C0.573279157,22.3966143 -0.0603451744,21.5129383 0.0301725872,20.2026602 C0.0905177616,19.3189843 0.603451744,18.2829504 1.47845677,17.0945586 C3.83191857,14.0169287 9.38367462,9.56807739 17.3190651,5.60677146 C12.6121414,6.24667473 8.17677113,7.77025393 4.04312668,10.329867 C5.09916724,4.44885127 10.1983345,0 16.2931971,0 Z M5.97417227,19.6541717 C5.46123828,18.8923821 5.03882206,18.0696493 4.67675102,17.1859734 C4.19398962,17.7039903 3.7715734,18.1915357 3.43967494,18.6181378 C2.92674096,19.3189843 2.5948425,19.8674728 2.53449732,20.2636034 C3.16812166,20.3854897 4.31467997,20.2026602 5.97417227,19.6541717 Z M25.6768717,4.26602177 C26.2803235,4.99733978 26.82343,5.75912938 27.2760188,6.61233374 C27.7889528,6.09431681 28.211369,5.60677146 28.5734401,5.1496977 C29.0863741,4.44885127 29.4182725,3.90036276 29.4786177,3.53470375 C28.7846482,3.38234583 27.5475721,3.59564692 25.6768717,4.26602177 Z" id="Shape"></path>
                              </g>
                              <ellipse id="Oval-16" fill="#F18230" opacity="0.400000006" transform="translate(39.194782, 10.395000) scale(-1, -1) translate(-39.194782, -10.395000) " cx="39.1947824" cy="10.395" rx="2.82202433" ry="2.835"></ellipse>
                              <ellipse id="Oval-16-Copy-2" fill="#F18230" opacity="0.400000006" transform="translate(35.745642, 18.270000) scale(-1, -1) translate(-35.745642, -18.270000) " cx="35.7456415" cy="18.27" rx="1.88134955" ry="1.89"></ellipse>
                              <ellipse id="Oval-16-Copy" fill="#F18230" opacity="0.400000006" transform="translate(2.508466, 3.150000) scale(-1, -1) translate(-2.508466, -3.150000) " cx="2.50846607" cy="3.15" rx="2.50846607" ry="2.52"></ellipse>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
      </div>

    </div>
    <div class="text">
      <p class="title">
      Choisis une destination commune
      </p>
    </div>
  </div>

  <div class="super-box">
    <div class="container-card-home">
      <div class="box5">
        <div class="icon_bg"></div>
      </div>

      <div class="icon">

        <h1>5</h1>
      <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#F18230" offset="0%"></stop>
              <stop stop-color="#F18230" offset="100%"></stop>
          </linearGradient>
      </defs>
      <g id="working" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="漏洞监控" transform="translate(-227.000000, -3528.000000)">
              <rect fill="#FFFFFF" x="0" y="0" width="1440" height="4857"></rect>
              <g id="Group-19" transform="translate(180.000000, 3501.000000)">
                  <g id="1" transform="translate(25.000000, 0.000000)">
                      <g id="Group-26" transform="translate(5.000000, 0.000000)">
                          <g id="Group-16" transform="translate(17.000000, 27.000000)">
                              <g id="noun_578648_cc-(1)" transform="translate(3.135583, 0.000000)" fill="url(#linearGradient-1)">
                                  <path d="M16.2931971,0 C19.0389025,0 21.5733998,0.883675937 23.6251358,2.37678356 C26.6423945,1.18839178 28.7544756,0.822732769 30.0217243,1.09697703 C31.4398359,1.40169287 32.0734602,2.2853688 31.9527698,3.59564692 C31.8924247,4.44885127 31.4096633,5.51535671 30.5346582,6.6732769 C28.1811964,9.78137848 22.5992678,14.1997582 14.69405,18.1610641 C19.7026994,17.4906892 24.409623,15.8147521 28.7846482,12.9504232 C28.6036127,19.7455865 23.0820292,25.2 16.2931971,25.2 C12.9440399,25.2 9.8966086,23.8592503 7.66383715,21.6652963 C5.00864947,22.6708585 3.13794907,22.9451028 1.99139076,22.7013301 C0.573279157,22.3966143 -0.0603451744,21.5129383 0.0301725872,20.2026602 C0.0905177616,19.3189843 0.603451744,18.2829504 1.47845677,17.0945586 C3.83191857,14.0169287 9.38367462,9.56807739 17.3190651,5.60677146 C12.6121414,6.24667473 8.17677113,7.77025393 4.04312668,10.329867 C5.09916724,4.44885127 10.1983345,0 16.2931971,0 Z M5.97417227,19.6541717 C5.46123828,18.8923821 5.03882206,18.0696493 4.67675102,17.1859734 C4.19398962,17.7039903 3.7715734,18.1915357 3.43967494,18.6181378 C2.92674096,19.3189843 2.5948425,19.8674728 2.53449732,20.2636034 C3.16812166,20.3854897 4.31467997,20.2026602 5.97417227,19.6541717 Z M25.6768717,4.26602177 C26.2803235,4.99733978 26.82343,5.75912938 27.2760188,6.61233374 C27.7889528,6.09431681 28.211369,5.60677146 28.5734401,5.1496977 C29.0863741,4.44885127 29.4182725,3.90036276 29.4786177,3.53470375 C28.7846482,3.38234583 27.5475721,3.59564692 25.6768717,4.26602177 Z" id="Shape"></path>
                              </g>
                              <ellipse id="Oval-16" fill="#F18230" opacity="0.400000006" transform="translate(39.194782, 10.395000) scale(-1, -1) translate(-39.194782, -10.395000) " cx="39.1947824" cy="10.395" rx="2.82202433" ry="2.835"></ellipse>
                              <ellipse id="Oval-16-Copy-2" fill="#F18230" opacity="0.400000006" transform="translate(35.745642, 18.270000) scale(-1, -1) translate(-35.745642, -18.270000) " cx="35.7456415" cy="18.27" rx="1.88134955" ry="1.89"></ellipse>
                              <ellipse id="Oval-16-Copy" fill="#F18230" opacity="0.400000006" transform="translate(2.508466, 3.150000) scale(-1, -1) translate(-2.508466, -3.150000) " cx="2.50846607" cy="3.15" rx="2.50846607" ry="2.52"></ellipse>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
      </div>

    </div>
    <div class="text">
      <p class="title">
      Réserve tes billets & prépare tes bagages!
      </p>
    </div>
  </div>
</div>




  </div><!-- FIN DU BEFORE LOAD  -->
</div>

<%# Autofill des budgets et dates %>
    <%# SCRIPT POUR LANCER LE LOADER %>
  <%# JE VIRE LE SNAKE D'ICI ON LE FOUT AILLEURS, SALETé DE SNAKE %>
    <%# FIN DU SCRIPT %>


<%# ================== LOADER https://gist.github.com/straker/ff00b4b49669ad3dec890306d348adc4 ==================== %>
  <div class="loader">
    <div class="globe-text">
      <div class="text">
      <h3>
        Notre algorithme recherche des destinations communes en fonction de vos critères...
      </h3>
      <p>
        <em>Utilisez les flêches de votre clavier pour jouer au snake en attendant !</em>
      </p>
      </div>
     <%= render "shared/snake" %>
    </div>
  </div>


