      <% require 'i18n'%>
      <% require 'open-uri' %>
      <% require 'nokogiri' %>
      <% city_name = I18n.transliterate(params["city"])%>
      <% url = "https://unsplash.com/s/photos/#{city_name.delete(' ')}"%>

      <% html_file = open(url).read %>
      <%html_doc = Nokogiri::HTML(html_file) %>

      <% element = html_doc.search('._2UpQX').first %>
      <% if element == nil %>
        <div class="card-entete-tickets" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.belambra.fr/les-echappees/wp-inside/uploads/2013/01/comment-bien-voyager-en-avion-suivez-nos-conseils-pour-un-vol-agreable.jpg)">
      <% else %>
        <div class="card-entete-tickets" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<% element.attribute('src').value %>')">
      <% end %>
      <% console %>
  <%= params["city"] %>
</div>
<div class = "container">
  <% for i in (0..@group.travelers.count-1) %>
     <div id="banner-ticket" class ="mt-5">
        <h2>Voyage de <%=@group.travelers[i].name%></h2><p><em> au départ de <%= @group.travelers[i].fly_from %></em></p>
     </div>
  <div class="cards p-3 mt-3">   
    <%# @missions.each do |mission| %>
      <%#= link_to  mission_path(mission) do %>
        <%# if mission.photo.attached?%>
           <div class="d-flex card-tickets p-3">
              <div>
                <p>Samedi 12 décembre 2020</p>
                  <div class =" d-flex justify-content-around">
                    <div>
                      <h4><%= @group.travelers[i].fly_from %></h4>
                      <h5>14 : 50</h5>
                    </div>
                    <div>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <div>
                      <h4><%= params["city"] %></h4>
                      <h5>16 : 45</h5>
                    </div>
                  </div>
                  <p>Mercredi 16 décembre 2020</p>
                   <div class =" d-flex justify-content-around">
                    <div>
                      <h4><%= params["city"] %></h4>
                      <h5>10 : 35</h5>
                    </div>
                    <div>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <div>
                      <h4><%= @group.travelers[i].fly_from %></h4>
                      <h5>12 : 45</h5>
                    </div>
                  </div>
              </div>
              <div>
                <img id="img-airline" src="https://images.kiwi.com/airlines/64x64/AF.png" alt="airline">
                <h2 id="prix-tickets">145 €</h2>
                <p id="lien-reserver" class= "btn btn-tickets"> Réserver </p>
              </div>
          </div>
           <div class="d-flex card-tickets p-3">
              <div>
                <p>Samedi 12 décembre 2020</p>
                  <div class =" d-flex justify-content-around">
                    <div>
                      <h4><%= @group.travelers[i].fly_from %></h4>
                      <h5>14 : 50</h5>
                    </div>
                    <div>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <div>
                      <h4><%= params["city"] %></h4>
                      <h5>16 : 45</h5>
                    </div>
                  </div>
                  <p>Mercredi 16 décembre 2020</p>
                   <div class =" d-flex justify-content-around">
                    <div>
                      <h4><%= params["city"] %></h4>
                      <h5>10 : 35</h5>
                    </div>
                    <div>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                    <div>
                      <h4><%= @group.travelers[i].fly_from %></h4>
                      <h5>12 : 45</h5>
                    </div>
                  </div>
              </div>
              <div>
                <img id="img-airline" src="https://images.kiwi.com/airlines/64x64/AF.png" alt="airline">
                <h2 id="prix-tickets">145 €</h2>
                <p id="lien-reserver" class= "btn btn-tickets"> Réserver </p>
              </div>
          </div>
  </div> 
  <% end %>
</div>
<!-- je récup ma ville d'arrivée !! -->


