<div class = "group-form justify-content-center d-flex">
    <%= simple_form_for [@group, Traveler.new], remote: true  do |f| %>
      <%= f.error_notification %>
      <%= f.input :name,
                      label: false,
                      required: true,
                      placeholder: "Inscrivez le nom du voyageur"%>
      <%= f.input :fly_from,
                      label: false,
                      required: true,
                      placeholder: "De quelle ville part-il?",
                      as: :string,
                      input_html: { class: "autocomplete", autocomplete: 'off' }%>
      <div class="container-autocomplete">
      <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
      </div>
      <% if @group.travelers.count > 0 %>
          <%= f.input :price_to,
                      label: false,
                      placeholder: "A t'il un budget maximum?",
                      input_html: { value: @group.travelers.first.price_to }%>
      <% else %>
          <%= f.input :price_to,
                      label: false,
                      placeholder: "A t'il un budget maximum?"%>
      <% end %>
      <% if @group.travelers.count > 0 %>
          <%= f.input :date_from,
                      label: false,
                      placeholder: "Inscrivez sa date d'aller",
                      as: :string,
                      input_html: { class: "datepicker", value: @group.travelers.first.date_from } %>
          <%= f.input :date_to,
                      label: false,
                      placeholder: "Inscrivez sa date de retour",
                      as: :string,
                      input_html: { class: "datepicker", value: @group.travelers.first.date_to} %>
      <% else %>
          <%= f.input :date_from,
                      label: false,
                      placeholder: "Inscrivez sa date d'aller",
                      as: :string,
                      input_html: { class: "datepicker" } %>
          <%= f.input :date_to,
                      label: false,
                      placeholder: "Inscrivez sa date de retour",
                      as: :string,
                      input_html: { class: "datepicker" } %>
      <% end %>
      <%= f.submit "           Ajouter un participant           ", class: "btn btn-ghost m-3 button-temp" %>

    <% end %>
</div>