<h4><%= @city.upcase %></h4>
<p><%= @trips.values.first[@city][0].first[:country] %></p>

 <% prices_aller=[] %>
<% if @travelers.size > 1 %>
<% for traveler in @travelers %>
<%# pour calculer le prix %>
<% prices_aller << @trips[traveler][@city][0][0][:price] %>
<% end %>
<% prices_aller.sort! %>
<%# on a la liste des plus bas prix pour chaque voyageur pour une @city
suffit de prendre le premier et dernier élément de l'prices_array
et on aura un range de prix à afficher
on fait d'abord pareil pour les retours %>
<% prices_retour=[] %>
<% for traveler in @travelers %>
<% prices_retour << @trips[traveler][@city][1][0][:price] %>
<% end %>
<% prices_retour.sort! %>
<% min_price = prices_aller.first + prices_retour.first %>
<% max_price = prices_aller.last + prices_retour.last %>
<p id="prix-voyage">de <%= min_price %> à <%= max_price %>€/personne </p>
<% else %>
<% prices_aller << @trips[@travelers.first][@city][0][0][:price] %>
<% prices_retour=[] %>
<% prices_retour << @trips[@travelers.first][@city][1][0][:price] %>
<% min_price = prices_aller.first + prices_retour.first %>
<p id="prix-voyage"><%= min_price %> €/personne </p>
<% end %>