
<%# PENDANT LE TEST AVEC LE SEED J'AI DU METTRE DES STRINGS AU LIEU DE SYMBOLES %>

        <%# test scraping images from cities %>
      <% require 'i18n'%>
      <% require 'open-uri' %>
      <% require 'nokogiri' %>
  
      <%# test scraping images from cities %>

<div class = "container mt-3">
  <h1>Votre selection de voyages </h1>

  <%# c'est la vignette fake pour la démo : %>
  <%# ============================= %>
 <% city= @group.cities.first %>
      <% city_name = I18n.transliterate(city) %>
      <% url = "https://unsplash.com/s/photos/#{city_name}"%>

      <% html_file = open(url).read %>
      <%html_doc = Nokogiri::HTML(html_file) %>

      <% element = html_doc.search('._2UpQX').first %>
      <% element.text.strip %>
      <% image_city = element.attribute('src').value %>
   <div class="grande-card p-3">
     <div id="first-card" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('<%=image_city%>');">
            <%= link_to group_tickets_path(city: "#{city}"), class: "clickable-card", :target => "_blank" do %>
            <h4><%= city.upcase %> </h4>
            <p><%= @trips.values.first[city][0].first[:country] %></p>
            <p id="destination"><i class="fas fa-star"></i> <em>Notre meilleure selection</em></p>
            <% prices_aller=[] %>
            <% if @travelers.size > 1 %>
            <% for traveler in @travelers %>
            <%# pour calculer le prix %>
            <% prices_aller << @trips[traveler][city][0][0][:price] %>
            <% end %>
            <% prices_aller.sort! %>
            <%# on a la liste des plus bas prix pour chaque voyageur pour une @city
            suffit de prendre le premier et dernier élément de l'prices_array
            et on aura un range de prix à afficher
            on fait d'abord pareil pour les retours %>
            <% prices_retour=[] %>
            <% for traveler in @travelers %>
                <% prices_retour << @trips[traveler][city][1][0][:price] %>
            <% end %>
            <% prices_retour.sort! %>
            <% min_price = prices_aller.first + prices_retour.first %>
            <% max_price = prices_aller.last + prices_retour.last %>
                      
            <p id="prix-voyage">de <%= min_price %> à <%= max_price %>€/personne </p>
            <% else %>
              <% prices_aller << @trips[@travelers.first][city][0][0][:price] %>
               
              <% prices_retour=[] %>
              <% prices_retour << @trips[@travelers.first][city][1][0][:price] %>
               <% min_price = prices_aller.first + prices_retour.first %>
               <p id="prix-voyage"><%= min_price %> €/personne </p>
            <% end %>
            <p id="info">Voir les details</p>
          </div>
        <% end %> 
  </div> 

  <%# =============================  %>
    
    <%# trier par prix pas besoin car déjà fait sur l'api : %>
    <%# ========================= %>
      <%# for city in @cities
        for traveler in @travelers
              @trips[traveler][city][0].sort_by { |aller| aller[:price] }
            end
        end %>
        <%# ===================== %>


 <div class="cards p-3 mt-1">
  <%# on enleve la premiere ville de l'array qui est affichee plus haut %>
    <% for @city in @group.cities[1..-1] %>
    <% city_name = I18n.transliterate(@city) %>
      <% url = "https://unsplash.com/s/photos/#{city_name}"%>

      <% html_file = open(url).read %>
      <%html_doc = Nokogiri::HTML(html_file) %>

      <% element = html_doc.search('._2UpQX').first %>
      <% element.text.strip %>
      <% image_city = element.attribute('src').value %>
      <%= link_to group_tickets_path(city: "#{@city}"), class: "clickable-card", :target => "_blank" do %>
        <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=image_city%>');">
            <div class="card_recto">
              <%= render "shared/recto" %>
            </div>
            <%# <div class="card_verso">
              <%= render "shared/verso" %>
            <%# </div> %> 
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%# INUTILE A SUPPRIMER %>
<%# <script type="text/javascript">
clik = document.querySelector(".card_recto")

clik.addEventListener("click", () => { 

 clik.classList.toggle("flipped");
})
</script> %>

<%# Pour desactiver les lignes %>
<% if false %> 
<div class = "container">
  <% for city in @group.cities %>

    <h1 style="color: red">VOYAGE EN DIRECTION DE : <%= city %></h1>

    <% for traveler in @travelers %>

        <h1>Proposition pour <%= traveler[:name] %></h1>

        <div class ="d-flex justify-content-between">
            <div>
            <h2>ALLER</h2>
                <ul><h3>Départ</h3>
                <li> Ville de départ : <%= @trips[traveler][city][0].first[:cityFrom] %></li>
                <li> Date de départ :  <%= Time.at(@trips[traveler][city][0].first[:dTime]).strftime("%A %d %B %G") %> </li>
                <li> Heure de départ : <%= Time.at(@trips[traveler][city][0].first[:dTime]).strftime("%H:%M")%></li>
                </ul>
            <ul><h3>Arrivée</h3>
                <li> Ville d'arrivée : <%= @trips[traveler][city][0].first[:cityTo] %></li>
                <li> Date d'arrivée : <%= Time.at(@trips[traveler][city][0].first[:aTime]).strftime("%d/%m/%Y") %></li>
                <li> Heure d'arrivée : <%= Time.at(@trips[traveler][city][0].first[:aTime]).strftime("%H:%M")%></li>
                </ul>
            </div>

            <div>
            <h2>RETOUR</h2>
                <ul><h3>Départ</h3>
                <li> Ville de départ : <%= @trips[traveler][city][1].first[:cityFrom] %></li>
                <li> Date de départ : <%= Time.at(@trips[traveler][city][1].first[:dTime]).strftime("%d/%m/%Y") %> </li>
                <li> Heure de départ : <%= Time.at(@trips[traveler][city][1].first[:dTime]).strftime("%H:%M")%></li>
                </ul>

            <ul><h3>Arrivée</h3>
                <li> Ville d'arrivée : <%= @trips[traveler][city][1].first[:cityTo] %></li>
                <li> Date d'arrivée : <%= Time.at(@trips[traveler][city][1].first[:aTime]).strftime("%d/%m/%Y") %></li>
                <li> Heure d'arrivée : <%= Time.at(@trips[traveler][city][1].first[:aTime]).strftime("%H:%M")%></li>
            </ul>
            </div>
        </div>
            <div>
            <ul>
            <div class="group-btn float-right">
                <%= link_to "Selectionner cette destination", :controller => "groups", :action => "tickets", :query => "#{city}" %>
            </div>

                <h3>Détails</h3>
                <li> Prix aller : <%= @trips[traveler][city][0].first[:price] %></li>
                <li> Lien : <a href="<%= @trips[traveler][city][0].first[:url] %>">Réserver sur kiwi</a></li>
                <li> Prix retour : <%= @trips[traveler][city][1].first[:price] %></li>
                <li> Lien : <a href="<%= @trips[traveler][city][1].first[:url] %>">Réserver sur kiwi</a></li>
                <li style = "color: lime"> Prix total : <%= @trips[traveler][city][0].first[:price] + @trips[traveler][city][1].first[:price] %></li>
                <!--  <li> Code de la compagnie aérienne aller : <%= @trips[traveler][city][0].first[:airlines] %></li>
                <li> Code de la compagnie aérienne retour : <%= @trips[traveler][city][1].first[:airlines] %></li>
                <li> Coordonnées de l'aéroport de <%= @trips[traveler][city][0].first[:cityFrom]  %>  : <%= @trips[traveler][city][0].first[:latFrom] %> / <%= @trips[traveler][city][0].first[:lngFrom] %></li>
                <li> Coordonnées de l'aéroport de <%= @trips[traveler][city][0].first[:cityTo]  %> : <%= @trips[traveler][city][0].first[:latTo] %> / <%= @trips[traveler][city][0].first[:lngTo] %></li>
                <li> Coordonnées de l'aéroport de <%= @trips[traveler][city][1].first[:cityFrom]  %>  : <%= @trips[traveler][city][1].first[:latFrom] %> / <%= @trips[traveler][city][1].first[:lngFrom] %></li>
                <li> Coordonnées de l'aéroport de <%= @trips[traveler][city][1].first[:cityTo]  %> : <%= @trips[traveler][city][1].first[:latTo] %> / <%= @trips[traveler][city][1].first[:lngTo] %></li> -->
            </ul>
            </div>

    <% end %>
  <% end %>
</div>
<% end %>