
<div class = "container">
  <h1>Votre selection de voyages </h1>

  <%# c'est la vignette fake pour la démo : %>
  <%# ============================= %>
   <%# <div class="grande-card p-3">
     <div id="first-card" class ="p-3 mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <%=link_to group_tickets_path do%>
            <%# <h4>ROME</h4>
            <p>Italie</p>
            <p id="destination"><i class="fas fa-star"></i> <em>Notre meilleure selection</em></p>
            <p id="prix-voyage"> 170 €/personne </p>
          </div>
        <% end %> 
  <%# </div> %>
  <%# =============================  %>

    <% travelers = @final_hash.keys %>
    <% cities = @final_hash.values.first.keys %> 
    
    <%# trier par prix pas besoin car déjà fait sur l'api : %>
    <%# ========================= %>
      <%# for city in cities
        for traveler in travelers
              @final_hash[traveler][city][0].sort_by { |aller| aller[:price] }
            end
        end %>
        <%# ===================== %>

  <div class="cards p-3 mt-1" style="min-height : 65vh">
    <% for city in cities %>
        <div class="card-category p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');">
            <h4><%= city.upcase %></h4>
            <p><%= @final_hash.values.first[city][0].first[:country] %></p>
            
                <% prices_aller=[] %>
                <% for traveler in travelers %>
                    <% prices_aller << @final_hash[traveler][city][0][0][:price] %>
                <% end %>
                <% prices_aller.sort! %>
                <%# on a la liste des plus bas prix pour chaque voyageur pour une city
                suffit de prendre le premier et dernier élément de l'prices_array
                et on aura un range de prix à afficher
                on fait d'abord pareil pour les retours %>
                <% prices_retour=[] %>
                <% for traveler in travelers %>
                    <% prices_retour << @final_hash[traveler][city][1][0][:price] %>
                <% end %>
                <% prices_retour.sort! %>
                <% min_price = prices_aller.first + prices_retour.first %>
                <% max_price = prices_aller.last + prices_retour.last %>
                
            <p id="prix-voyage"><%= min_price %> - <%= max_price %>€/personne </p>
        </div>
    <% end %>
  </div>
</div>


<div class = "container">
  <% for city in cities %>

    <h1 style="color: red">VOYAGE EN DIRECTION DE : <%= city %></h1>

    <% for traveler in travelers %>

        <h1>Proposition pour <%= traveler.name %></h1>

        <div class ="d-flex justify-content-between">
            <div>
            <h2>ALLER</h2>
                <ul><h3>Départ</h3>
                <li> Ville de départ : <%= @final_hash[traveler][city][0].first[:cityFrom] %></li>
                <li> Date de départ : <%= Time.at(@final_hash[traveler][city][0].first[:dTime]).strftime("%d/%m/%Y") %> </li>
                <li> Heure de départ : <%= Time.at(@final_hash[traveler][city][0].first[:dTime]).strftime("%H:%M")%></li>
                </ul>
            <ul><h3>Arrivée</h3>
                <li> Ville d'arrivée : <%= @final_hash[traveler][city][0].first[:cityTo] %></li>
                <li> Date d'arrivée : <%= Time.at(@final_hash[traveler][city][0].first[:aTime]).strftime("%d/%m/%Y") %></li>
                <li> Heure d'arrivée : <%= Time.at(@final_hash[traveler][city][0].first[:aTime]).strftime("%H:%M")%></li>
                </ul>
            </div>

            <div>
            <h2>RETOUR</h2>
                <ul><h3>Départ</h3>
                <li> Ville de départ : <%= @final_hash[traveler][city][1].first[:cityFrom] %></li>
                <li> Date de départ : <%= Time.at(@final_hash[traveler][city][1].first[:dTime]).strftime("%d/%m/%Y") %> </li>
                <li> Heure de départ : <%= Time.at(@final_hash[traveler][city][1].first[:dTime]).strftime("%H:%M")%></li>
                </ul>

            <ul><h3>Arrivée</h3>
                <li> Ville d'arrivée : <%= @final_hash[traveler][city][1].first[:cityTo] %></li>
                <li> Date d'arrivée : <%= Time.at(@final_hash[traveler][city][1].first[:aTime]).strftime("%d/%m/%Y") %></li>
                <li> Heure d'arrivée : <%= Time.at(@final_hash[traveler][city][1].first[:aTime]).strftime("%H:%M")%></li>
            </ul>
            </div>
        </div>
            <div>
            <ul>
            <div class="group-btn float-right">
                <%= link_to "Selectionner cette destination", :controller => "groups", :action => "tickets", :query => "#{city}" %>
            </div>

                <h3>Détails</h3>
                <li> Prix aller : <%= @final_hash[traveler][city][0].first[:price] %></li>
                <li> Prix retour : <%= @final_hash[traveler][city][1].first[:price] %></li>
                <li> Prix total : <%= @final_hash[traveler][city][0].first[:price] + @final_hash[traveler][city][1].first[:price] %></li>
                <!--  <li> Code de la compagnie aérienne aller : <%= @final_hash[traveler][city][0].first[:airlines] %></li>
                <li> Code de la compagnie aérienne retour : <%= @final_hash[traveler][city][1].first[:airlines] %></li>
                <li> Coordonnées de l'aéroport de <%= @final_hash[traveler][city][0].first[:cityFrom]  %>  : <%= @final_hash[traveler][city][0].first[:latFrom] %> / <%= @final_hash[traveler][city][0].first[:lngFrom] %></li>
                <li> Coordonnées de l'aéroport de <%= @final_hash[traveler][city][0].first[:cityTo]  %> : <%= @final_hash[traveler][city][0].first[:latTo] %> / <%= @final_hash[traveler][city][0].first[:lngTo] %></li>
                <li> Coordonnées de l'aéroport de <%= @final_hash[traveler][city][1].first[:cityFrom]  %>  : <%= @final_hash[traveler][city][1].first[:latFrom] %> / <%= @final_hash[traveler][city][1].first[:lngFrom] %></li>
                <li> Coordonnées de l'aéroport de <%= @final_hash[traveler][city][1].first[:cityTo]  %> : <%= @final_hash[traveler][city][1].first[:latTo] %> / <%= @final_hash[traveler][city][1].first[:lngTo] %></li> -->
            </ul>
            </div>

    <% end %>
  <% end %>
</div>
