<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&w=3000&q=400&fit=crop)">
  <div class= "titre_searchbar">
      <h1>Organiser un voyage à plusieurs</h1>
      <p>un vrai bonheur, avec Grouptrotter!</p>
    <div class="searchbar">
        <%= simple_form_for(@group) do |f| %>
          <%= f.input :fly_to,
                      label: false,
                      placeholder: "Sélectionnez votre destination"%>
                      <div id="container">
                      <%# <div class="proposition">Paris, Charles de Gaulle (CDG)</div> %>
                      </div>
          <%= f.submit "Ajoutez un voyageur", class: "btn btn-search"%>
        <% end %>
        <div class="mongol1"><%= image_tag ("mongol1.png") %></div>
        <div class="mongol2"><%= image_tag ("mongol2.png"), style: 'height:50%;width:auto;' %></div>
        <div class="mongol3"><%= image_tag ("mongol3.png"), style: 'height:50%;width:auto;' %></div>
    </div>
    <%# <a class="btn btn-flat" href="/groups/new">Je voyage</a> %>
  </div>
</div>
<div class= "mt-5 d-flex align-items-center justify-content-center">
  <h2> Grouptrotter, comment ça marche?</h2>
</div>
  <div class="d-flex">
    <div class="card-home">
      <h4><i class="fas fa-globe-africa"></i></h4>
      <p>Sélectionne ta destination </p>
    </div>
    <div class="card-home">
      <h4><i class="fas fa-users"></i></h4>
      <p>Ajoute les voyageurs</p>
    </div>
    <div class="card-home">
      <h4><i class="fas fa-calendar-alt"></i></h4>
      <p>Sélectionne tes dates</p>
    </div>
    <div class="card-home">
      <h4><i class="fas fa-suitcase"></i></h4>
      <p>Fais ta valise</p>
    </div>
  </div>











<!--
linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
VENISE : https://images.pexels.com/photos/161850/venice-grand-canal-water-boats-161850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
MONTGOLFIERE https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&w=2050&q=150&fit=crop
GLOBE : https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&w=2050&q=150&fit=crop
MONTGOLFIERE BIS https://images.unsplash.com/photo-1590756739785-ffad41261679?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&w=2050&q=150&fit=crop
MONTGOLFIERE TER https://images.unsplash.com/photo-1482376297902-a54c222cec2b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&w=2050&q=150&fit=crop-->
